$VIDEO_BRIHTNESS: 60%;
* {
  font-family: Raleway, Helvetica, sans-serif;
}

.main-title {
  width: 40vw;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0px 0px 5px white;
  color: black;

  font-weight: bolder;
  font-size: 600%;
  transition: all 2s;
  &-shrinked {
    transform: translate(-90%) scale(0.5);
    animation: moveTitle 2s;
    color: #bd5314fa;
  }
}

.african-map {
  flex: 0 0 40%;
  height: auto;
  transform: scale(0.6);
  transition: all 2s;
}

@keyframes moveTitle {
  0% {
    transform: scale(1);
    color: black;
  }
  10% {
    transform: translate(0%) scale(0.5);
    color: #bd5314fa;
  }
  100% {
    transform: translate(-90%) scale(0.5);
    color: #bd5314fa;
  }
}

@keyframes open {
  0% {
    opacity: 0;
    width: 0px;
  }
  50% {
    opacity: 0;
    width: 520px;
  }
  100% {
    width: 520px;
    opacity: 1;
  }
}

.details-appear.details-appear-active {
  animation: open 3s;
}

path.country {
  fill: white;
  stroke: black;
  stroke-width: 7;
  transition: fill 0.5s;
  &.active {
    fill: #ffa472;
    &:hover,
    &:active {
      fill: black;
    }
  }
}

section#african-map-app {
  position: absolute;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;

  > * {
    // flex: 0 0 40%;
    flex-grow: 0;
  }

  width: 100vw;
  height: 100vh;
  transition: all 2s;
}

.country-details {
  color: white;
  opacity: 1;
  transition: all 1s ease-in-out;
  width: 520px;
  margin: 0 0 5vh 5vw;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-end;

  h1 {
    font-size: 250%;
    margin-bottom: 0;
    padding: 5px;
    background: rosybrown;
    transition: all 0.8s;
  }
  h2.country-quote {
    font-family: Baskerville-Bold, sans-serif;
    font-size: 200%;
    font-weight: bold;
    transition: all 1s;
  }
}

/** Background **/
%background {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
}

.background-image {
  @extend %background;
  background-image: linear-gradient(#bd5314fa, white);
}

.image-enter {
  filter: brightness(0%);
  background-image: linear-gradient(black, white);
}

.background-video {
  filter: brightness($VIDEO_BRIHTNESS);
  @extend %background;
}

.video-enter {
  filter: brightness(0%);
}

.video-enter.video-enter-active {
  filter: brightness($VIDEO_BRIHTNESS);
  transition: filter 1000ms ease-in;
}

.video-leave {
  filter: brightness($VIDEO_BRIHTNESS);
}

.video-leave.video-leave-active {
  filter: brightness(0%);
  transition: filter 500ms ease-in;
}
